{% extends "loggerpanel/base.html" %}
{% load loggerpanel %}

{% block content %}
{% if loggerdict %}
    <main class="flex-shrink-0">
      <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Loggers</li>
        </ol>
      </nav>
        <h1 class="mt-5">Loggers</h1>
        <p class="lead">List of all loggers loaded from the Python's <code class="small">logging</code> module.</p>
        <p><span class="fw-bold">Log Level</span> is the specific level set for a logger.
          If no level is set, the <span class="fw-bold">Effective Logger Level</span>
          will be the nearest parent's log level in the logger hierarchy.</p>
        <p>For more information about <code class="small">logging.Logger.setLevel()</code>
          read the <a href="https://docs.python.org/3/library/logging.html#logging.Logger.setLevel">documentation</a>.</p>
          <div class="row">
            <div class="col-4">
              <h4>Logger Name</h4>
            </div>
            <div class="col">
              <h4>Logger Level</h4>
            </div>
            <div class="col">
              <h4>Effective Logger Level</h4>
            </div>
            <div class="col">
            </div>
          </div>
          <!-- Ends Header -->
          <!-- All logs -->
          <div class="row">
            <div class="col-4">
              <span class="fw-bold">ALL</span>
            </div>
            <div class="col">
              <span class="fw-bold"></span>
            </div>
              <div class="col">
              <form action="{{base_url}}" method="POST">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <select name="log_level" class="form-select" aria-label="Default select example">
                      {% for level_name, level_number in log_levels.items %}
                      <option value="{{level_name}}" {% if level_number == all_log_level %} selected {% endif %}>{{level_name}}</option>
                      {% endfor %}
                </select>
                <button class="btn btn-primary" type="submit">Set</button>
              </div>
              <input type="hidden" name="log_name" value="ALL"/></td>
              {% csrf_token %}
              </form>
            </div>
             <div class="col">
            </div>
          </div>
          <!-- All logs end -->
          {% for loggername, logger in loggerdict.items %}
            <form action="{{base_url}}" method="POST">
              <div class="row">
                <div class="col-4">
                  <code class="">{{loggername}}</code>
                </div>
              <div class="col">
                  <code class="">{{logger.level | log_level_name}}</code>
                </div>
                <div class="col">
                  <form action="{{base_url}}" method="POST">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <select name="log_level" class="form-select" aria-label="Default select example">
                      {% for level_name, level_number in log_levels.items %}
                      <option value="{{level_name}}" {% if level_number == logger.getEffectiveLevel %} selected {% endif %}>{{level_name}}</option>
                      {% endfor %}
                    </select>
                    <button class="btn btn-primary" type="submit">Set</button>
                  </div>
                  <input type="hidden" name="log_name" value="{{loggername}}"/></td>
                  {% csrf_token %}
                  </form>
                </div>
             <div class="col">
               <a href="{{base_url}}{{loggername}}"><i class="bi bi-arrow-up-right-square"></i></a>
            </div>
              </div>
            </form>
          {% endfor %}
      </div>
    </main>
{% else %}
    <p>No logs to display</p>
{% endif %}
{% endblock %}