include README.md
include LICENSE.md
recursive-include tests/ *
recursive-include django_logger_panel/static *.js *.css *.png *.ico *.eot *.svg *.ttf *.woff *.woff2
recursive-include django_logger_panel/templates *.html schema.js
recursive-include django_logger_panel/locale *.mo
global-exclude __pycache__
global-exclude *.py[co]