include README.md
include LICENSE.md
recursive-include tests/ *
recursive-include loggerpanel/static *.js *.css *.png *.ico *.eot *.svg *.ttf *.woff *.woff2
recursive-include loggerpanel/templates *.html schema.js
recursive-include loggerpanel/locale *.mo
global-exclude __pycache__
global-exclude *.py[co]