{% load tags %}
{% if logger %}
{{logger}}
<a href="/logging/">root</a>
    <ul>
        <li><span>name: </span> {{logger.name}}</li>
        <li><span>level: </span> {{logger.level | log_level_name}}</li>
        <li><span>effectiveLevel: </span> {{ logger.getEffectiveLevel  | log_level_name}}</li>
        <li><span>parent: </span> <a href="/logging/{{ logger.parent.name }}">{{ logger.parent.name }}</a></li>
        <li><span>propagate: </span> {{logger.propagate}}</li>
        <li><span>handlers: </span> {{logger.handlers}}</li>
        <li><span>disabled: </span> {{logger.disabled}}</li>
    </ul>
{% else %}
    <a href="/logging/">root</a>
    <p>No logname to display</p>
{% endif %}