{% extends "loggingpanel/base.html" %}

{% block content %}
{% if loggerdict %}
    <table style="width:30%">
        <tr>
            <th>Logger Name</th>
            <th>Logger Level</th>
            <th></th>
        </tr>

        <form action="/logging/" method="POST">
        <tr>
            <td>ALL</td>
            <td><select name="loglevel" id="loglevel">
                {% for level_name, level_number in log_levels.items %}
                    <option value="{{level_name}}">{{level_name}}</option>
                {% endfor %}
            </select>
            </td>
            <td><input type="submit" value="SET"/></td>
        </tr>
            <input type="hidden" name="logname" value="ALL"/></td>
            {% csrf_token %}
        </form>


        {% for name, logger in loggerdict.items %}
        <form action="/logging/" method="POST">
        <tr>
            <td><a href="/logging/{{name}}" name="{{name}}">{{name}}</a></td>
            <td>
                <select name="loglevel" id="loglevel">
                    {% for level_name, level_number in log_levels.items %}
                    <option value="{{level_name}}" {% if level_number == logger.getEffectiveLevel %} selected="selected"
                            {% endif %}>{{level_name}}
                    </option>
                    {% endfor %}
                </select>
            </td>
            <td><input type="submit" value="SET"/></td>
        </tr>
            <input type="hidden" name="logname" value="{{name}}"/></td>
            {% csrf_token %}
        </form>
        {% endfor %}


    </table>

    {% else %}
    <p>No logs to display</p>
    {% endif %}
{% endblock %}